<div class="text-center">
  <img width="300" height="259" alt="RaccoonOnLaptop" src="/assets/laptop.webp"/>
</div>
<div class="header">
  <h2 class="mb-3">Projects</h2>
</div>
<div class="row row-cols-1 row-cols-md-2 g-4 mb-5">
  <div class="col">
    <div class="card border-secondary h-100">
      <img width="226" height="127" src="/assets/GamingQuizAPI.webp" class="card-img-top" alt="PictureOfGamingWebsite">
      <div class="card-body">
        <h3 class="card-title">GamingQuizAPI</h3>
        <p class="card-text">This is an ASP.NET Web API application for a Gaming Quiz.</p>
      </div>
      <div class="card-footer">
        <small>C# | ASP.NET</small>
      </div>
      <a href="https://gamingquizapi.com/" aria-label="Link to the Gaming Quiz API Docs" class="stretched-link"></a>
    </div>
  </div>
  <div class="col">
    <div class="card border-secondary h-100">
      <img width="226" height="127" src="/assets/GitHub.webp" class="card-img-top" alt="GitHubWallpaper">
      <div class="card-body">
        <h3 class="card-title">GamingQuizClient</h3>
        <p class="card-text">GamingQuizAPI: Web Client</p>
      </div>
      <div class="card-footer">
        <small>HTML | CSS | JavaScript</small>
      </div>
      <a href="https://github.com/ttomczak3/GamingQuizClient" aria-label="Link to the GitHub repo for the client side" class="stretched-link"></a>
    </div>
  </div>
  <div class="col">
    <div class="card border-secondary h-100">
      <img width="226" height="127" src="/assets/Picross_3D.webp" class="card-img-top" alt="Picross3D">
      <div class="card-body">
        <h3 class="card-title">Picross 3D</h3>
        <p class="card-text">This a Picross 3D game on the web!</p>
      </div>
      <div class="card-footer">
        <small>TypeScript | Angular | ThreeJS</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card border-secondary h-100">
      <img width="226" height="127" src="/assets/LudwigJam.webp" class="card-img-top" alt="LudwigJamGameMenu">
      <div class="card-body">
        <h3 class="card-title">Ludwig Jam</h3>
        <p class="card-text">A foddian game with a car advancing up a hill that's attempting to get to the top without falling.</p>
      </div>
      <div class="card-footer">
        <small>C# | Unity</small>
      </div>
      <a href="https://itch.io/jam/ludwig-2021/rate/1251458" aria-label="Main page for our LudwigJam project" class="stretched-link"></a>
    </div>
  </div>
</div>
<div class="header">
  <h2 class="mb-3">Contributions</h2>
</div>
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card border-secondary h-100">
      <img width="226" height="176" src="/assets/Lichess.webp" class="card-img-top" alt="Lichess">
      <div class="card-body">
        <h3 class="card-title">Lichess</h3>
        <p class="card-text">lichess.org: the forever free, adless and open source chess server</p>
      </div>
      <div class="card-footer">
        <small>TypeScript | SCSS</small>
      </div>
      <a href="https://github.com/lichess-org/lila/commits?author=ttomczak3" aria-label="List of my contributions to Lichess" class="stretched-link"></a>
    </div>
  </div>
</div>
<div class="text-center my-5">
  <small>&copy; {{year}} Tristen Tomczak. All Rights Reserved.</small>
</div>
