<div class="text-center">
  <img alt="duck" width="300px" src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExOTU5ZWRlMzM0MjI5M2MyOTkwN2NkNjBlMzY4ZGExN2MzNGQzMDViMiZlcD12MV9pbnRlcm5hbF9naWZzX2dpZklkJmN0PXM/eJhiMm7886t8XLlsYy/giphy.gif"/>
</div>
<div class="header">
  <h4 class="mb-3">Projects</h4>
</div>
<div class="row row-cols-1 row-cols-md-2 g-4 mb-5">
  <div class="col">
    <div class="card border-secondary h-100">
      <img src="https://storage.ko-fi.com/cdn/useruploads/display/ab7d7349-d09e-4331-9f6e-051f48aac207_.png" class="card-img-top" alt="PictureOfGamingWebsite">
      <div class="card-body">
        <h5 class="card-title">GamingQuizAPI</h5>
        <p class="card-text">This is an ASP.NET Web API application for a Gaming Quiz.</p>
      </div>
      <div class="card-footer">
        <small>C# | ASP.NET</small>
      </div>
      <a href="https://gamingquizapi.com/" class="stretched-link"></a>
    </div>
  </div>
  <div class="col">
    <div class="card border-secondary h-100">
      <img src="https://w.wallhaven.cc/full/p8/wallhaven-p8qk1p.jpg" class="card-img-top" alt="GitHubWallpaper">
      <div class="card-body">
        <h5 class="card-title">GamingQuizClient</h5>
        <p class="card-text">GamingQuizAPI: Web Client</p>
      </div>
      <div class="card-footer">
        <small>HTML | CSS | JavaScript</small>
      </div>
      <a href="https://github.com/ttomczak3/GamingQuizClient" class="stretched-link"></a>
    </div>
  </div>
  <div class="col">
    <div class="card border-secondary h-100">
      <img src="https://static.wikia.nocookie.net/siivagunner/images/0/01/Picross_3D.jpg" class="card-img-top" alt="Picross3D">
      <div class="card-body">
        <h5 class="card-title">Picross 3D</h5>
        <p class="card-text">This a Picross 3D game on the web!</p>
      </div>
      <div class="card-footer">
        <small>TypeScript | Angular | ThreeJS</small>
      </div>
      <a class="stretched-link"></a>
    </div>
  </div>
  <div class="col">
    <div class="card border-secondary h-100">
      <img src="https://img.itch.zone/aW1nLzcyOTI4MTgucG5n/347x500/q8ROkN.png" class="card-img-top" alt="LudwigJamGameMenu">
      <div class="card-body">
        <h5 class="card-title">Ludwig Jam</h5>
        <p class="card-text">A foddian game with a car advancing up a hill that's attempting to get to the top without falling.</p>
      </div>
      <div class="card-footer">
        <small>C# | Unity</small>
      </div>
      <a href="https://itch.io/jam/ludwig-2021/rate/1251458" class="stretched-link"></a>
    </div>
  </div>
</div>
<div class="header">
  <h4 class="mb-3">Contributions</h4>
</div>
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card border-secondary h-100">
      <img src="https://raw.githubusercontent.com/lichess-org/lila/master/public/images/home-bicolor.png" class="card-img-top" alt="Lichess">
      <div class="card-body">
        <h5 class="card-title">Lichess</h5>
        <p class="card-text">lichess.org: the forever free, adless and open source chess server</p>
      </div>
      <div class="card-footer">
        <small>TypeScript | SCSS</small>
      </div>
      <a href="https://github.com/lichess-org/lila/commits?author=ttomczak3" class="stretched-link"></a>
    </div>
  </div>
</div>
