<div class="text-center">
  <img width="300" height="259" alt="RaccoonOnLaptop" src="/assets/blog.webp"/>
</div>
<div class="header">
  <h2 class="mb-3">Posts</h2>
</div>
<div class="row row-cols-1 row-cols-md-2 g-4 mb-5">
  <div class="col">
    <div class="card border-secondary h-100">
      <img width="226" height="127" src="/assets/AngularBlogPost.webp" class="card-img-top" alt="PictureOfGamingWebsite">
      <div class="card-body">
        <p class="card-text">Discover the Benefits of Angular: The Ultimate Game-Changer in Web Development</p>
      </div>
      <a href="https://medium.com/@ttomczak1512_83758/discover-the-benefits-of-angular-the-ultimate-game-changer-in-web-development-7ba9d4c33439" aria-label="Link to my blog about Angular" class="stretched-link"></a>
    </div>
  </div>
</div>
<div class="text-center my-5">
  <small>&copy; {{year}} Tristen Tomczak. All Rights Reserved.</small>
</div>
