div {
  margin: auto;
  max-width: 486px;
  text-align: justify;
}
h1 {
  color: #fdebf3;
  font-family: 'Pacifico', cursive;
}
.badge {
  color: #fdebf3;
  background-color: #584966;
}
h2 {
  color: #fdebf3;
  text-decoration: underline;
  text-decoration-color: #375a7f;
  text-decoration-thickness: 4px;
  text-underline-offset: 6px;
  font-family: 'Pacifico', cursive;
}
p {
  color: #fdebf3;
  font-family: 'Josefin Sans', sans-serif;
  hyphens: auto;
  text-indent: 1em;
}
.link-images img {
  margin-left: 4px;
  margin-right: 4px;
}
small {
  color: #fdebf3;
  font-family: 'Josefin Sans', sans-serif;
}
@media only screen and (max-width: 600px) {
  div {
    width: 320px;
  }
  .link-images img {
    height: 30px;
    width: 30px;
    margin-left: 2px;
    margin-right: 2px;
  }
}
